---
layout: home
title: Home
permalink: /
---

{% include about.html %}

<h2><a href="http://soup.agnescameron.info">Blog →</a></h2>
<div id="blog"></div>
<a href="http://soup.agnescameron.info">[ ... ]</a>

<h2><a href="/work">Recent Work →</a></h2>
{% for project in site.projects limit:5 %}
	{% if project.status == 'published' %}
		<a href="{{ project.url }}">{{ project.title }} → </a><br>
	{% endif %}
{% endfor %}
<a href="/work">[ ... ]</a>

<h2><a href="/news">News →</a></h2>
	<div id="news">
		{% assign news = site.news | sort: date | reverse %}
		{% for post in news limit:5  %}
			{{ post.date | date: "%d/%m/%Y" }} ↝ <b>{{ post.title }}</b> ↝ {{ post.content }}<br>
		{% endfor %}
	</div>
<a href="/news">[ ... ]</a>

<h2><a href="/teaching">Teaching + Learning →</a></h2>
<h2><a href="/archive">Archive →</a></h2>