Hi, I'm Agnes
<br><br>
I design and build software and hardware, sometimes alone but often <a href="https://www.foreignobjects.net/">with friends</a>. I have a particular interest in simulations, distributed knowledge and non-human forms of intelligence and communication. Currently, I work with the Knowledge Futures Group, developing tools for open data curation and sharing as part of the Underlay project, and I am a resident artist at Somerset House Studios.
<br><br>
If you are an activist group or community organisation looking for technical support, I'm normally happy to volunteer my time. You can get in touch with me at: agnesfcameron at protonmail dot com.
<br><br>
This website was last updated on: June 12th, 2021.