<p>Hi, I'm Agnes ↝</p>

<p>I design, build and maintain software and hardware, sometimes alone but often <a href="https://www.foreignobjects.net/">with friends</a>. I have a particular interest in simulation, distributed knowledge and infrastructural systems. Currently, I work with the <a href="https://www.knowledgefutures.org/">Knowledge Futures Group</a>, developing tools for open data curation and sharing as part of the <a href="https://www.underlay.org/">Underlay project</a>, and I am a resident artist at <a href="https://www.somersethouse.org.uk/residents">Somerset House Studios</a>.</p>

<p>If you are an activist group or community organisation looking for technical support, I'm normally happy to volunteer my time. You can get in touch with me at: agnesfcameron at protonmail dot com.</p>

<p>This website was last updated on: <span id="lastUpdate">xxx</span></p>